/* src/components/ProductCard.css */
.product-image-wrapper {
    height: 0;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
  }
  
  .product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(128, 128, 128, 0.5);  */
    /* Gray transparent background */
  }
  
  .product-image-wrapper:hover .overlay::before,
  .product-image-wrapper:hover .overlay::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgba(128, 128, 128, 0.5); 
    /* Gray transparent background */
  }
  
  .product-image-wrapper:hover .overlay::before {
    left: 0;
    animation: splitLeft 0.5s forwards;
  }
  
  .product-image-wrapper:hover .overlay::after {
    right: 0;
    animation: splitRight 0.5s forwards;
  }
  
  @keyframes splitLeft {
    0% {
      left: 50%;
    }
    100% {
      left: -50%;
    }
  }
  
  @keyframes splitRight {
    0% {
      right: 50%;
    }
    100% {
      right: -50%;
    }
  }
  